POSTGRES_URL="postgres://default:<url>"
POSTGRES_PRISMA_URL="postgres://default:<url>"
POSTGRES_URL_NO_SSL="postgres://default:<url>"
POSTGRES_URL_NON_POOLING="postgres://default:<url>"
POSTGRES_USER="default"
POSTGRES_HOST="<host>"
POSTGRES_PASSWORD="<password>"
POSTGRES_DATABASE="verceldb"

SESSION_KEY="<your_secret_key>"
SESSION_ENCRYPTION_ALGORITHM="HS256"